%h2 Your projects:
%ul
  = will_paginate @projects
  - @projects.each do |project|
    %p
      %li
        = link_to project.name, project
        = link_to "Delete", project_path(project), :confirm => "Are you sure? All data will be lost.", :method => :delete
        = link_to "Edit", edit_project_path(project)
  = will_paginate @projects
%br/
= link_to "New project", new_project_path(current_user)
= link_to "Home", root_path
