%h2= t('activerecord.project') + " #{@project.name}"
%p= t('activerecord.attributes.project.api_token')+" #{@project.api_token}"
%p= t('projects.watchers')
%ul
  - @project.memberships.each do |membership|
    %li
      = membership.user.email
      = link_to t('projects.remove_user'), membership, :confirm => t('confirmations.delete'), :method => :delete
%p= link_to t('projects.add_user'), new_membership_path(:project_id => @project.id)
%p
  %b= t('issues.all')
  - @project.issues.each do |issue|
    %p
      %b= link_to issue.name, project_issue_path(@project, issue)
