%h2= t('activerecord.project') + " #{@project.name}"
%p= "Api Token:  #{@project.api_token}"
%p= t('projects.watchers')
%ul
  - @project.users.each do |watcher|
    %li= watcher.email
%p= link_to t('projects.add_user'), new_project_user_path(:project_id => @project.id)
%p
  %b= t('issues.all')
  - @project.issues.each do |issue|
    %p
      %b= link_to issue.name, project_issue_path(@project, issue)
